# Data Types and structures Assignment (PW SKILLS)

This notebook contains solution for python data types and stuctures questions.

##Strings
##Lists
##Tuples
##Sets
##Dictionaries

Q1. What are data structures, and why are they important?

Explanation:
Data structures are methods of organizing and storing data in a computer so that operations such as searching, insertion, deletion, and updating can be performed efficiently. Choosing the right data structure improves program performance, reduces memory usage, and makes the code easier to maintain.

Example Code:

numbers = [10, 20, 30]
numbers.append(40)
print(numbers)

Q2. Explain the difference between mutable and immutable data types with examples.

Explanation:
Mutable data types can be modified after creation, such as lists, sets, and dictionaries.
Immutable data types cannot be changed once created, such as strings, tuples, and integers.

Example Code:

# Mutable
lst = [1, 2, 3]
lst.append(4)
print(lst)

# Immutable
s = "hello"
# s[0] = "H"  # This would raise an error

Q3. What are the main differences between lists and tuples in Python?

Explanation:
Lists are mutable and allow elements to be added, removed, or updated. They are written using square brackets [ ].
Tuples are immutable and written using parentheses ( ).
Tuples are usually faster and safer for fixed collections of data.

Example Code:

my_list = [1, 2, 3]
my_list[0] = 99

my_tuple = (1, 2, 3)
# my_tuple[0] = 99  # Error because tuples are immutable

Q4. Describe how dictionaries store data.

Explanation:
Dictionaries store data in the form of key–value pairs. Internally, Python uses a hash table to convert keys into indexes, allowing very fast data retrieval.

Example Code:

student = {"name": "Ashutosh Jayant", "age": 22}
print(student["name"])

Q5. Why might you use a set instead of a list in Python?

Explanation:
Sets automatically remove duplicate elements and provide faster membership checking compared to lists, making them useful when uniqueness matters.

Example Code:

nums = [1, 2, 2, 3]
print(set(nums))

Q6. What is a string in Python, and how is it different from a list?

Explanation:
A string is an immutable sequence of characters used to store text.
A list is a mutable collection that can store elements of different types.

Example Code:

s = "hello"
lst = ["h", "e", "l", "l", "o"]

lst[0] = "H"
print(lst)

Q7. How do tuples ensure data integrity in Python?

Explanation:
Tuples are immutable, which means their contents cannot be changed after creation. This prevents accidental modification of important data and helps preserve data integrity.

Example Code:

coordinates = (10, 20)
print(coordinates)

Q8. What is a hash table, and how does it relate to dictionaries in Python?

Explanation:
A hash table is a data structure that maps keys to values using a hashing function. Python dictionaries are implemented using hash tables, which allows them to perform fast lookups.

Example Code:

phone_book = {"Ashutosh Jayant": 9876543210}
print(phone_book["Ashutosh Jayant"])

Q9. Can lists contain different data types in Python?

Explanation:
Yes, Python lists can contain elements of different data types, such as integers, strings, floats, and even other objects.

Example Code:

mixed = [1, "apple", 3.5]
print(mixed)

Q10. Explain why strings are immutable in Python.

Explanation:
Strings are immutable for reasons of performance, memory optimization, and security. When a string is modified, Python actually creates a new object instead of changing the original one.

Example Code:

a = "hi"
b = a + "!"
print(b)


Q11. What advantages do dictionaries offer over lists for certain tasks?

Explanation:
Dictionaries allow very fast lookup using keys instead of numeric indexes. They are ideal when data is associated with unique identifiers, such as storing student names with marks. They also improve readability because keys describe the data.

Example Code:

marks = {"Ashutosh Jayant": 90, "Ravi": 85}
print(marks["Ashutosh Jayant"])

Q12. How do sets handle duplicate values in Python?

Explanation:
Sets automatically remove duplicate elements. If the same value is added multiple times, only one copy remains in the set.

Example Code:

values = {1, 2, 2, 3, 3}
print(values)

Q13. Describe a scenario where using a tuple would be preferable over a list.

Explanation:
Tuples are preferred when the data should not change, such as storing geographic coordinates, RGB color values, or database records.

Example Code:

location = (28.61, 77.20)
print(location)

Q14. How does the “in” keyword work differently for lists and dictionaries?

Explanation:
In a list, the in keyword checks whether a value exists in the list.
In a dictionary, it checks whether a key exists.

Example Code:

lst = [10, 20, 30]
print(20 in lst)

d = {"a": 1, "b": 2}
print("a" in d)

Q15. Can you modify the elements of a tuple? Explain why or why not.

Explanation:
No, elements of a tuple cannot be modified because tuples are immutable. This design helps protect data from accidental changes.

Example Code:

t = (1, 2, 3)
# t[0] = 99  # This will raise an error

Q16. What is a nested dictionary, and give an example of its use case?

Explanation:
A nested dictionary is a dictionary that contains another dictionary as one of its values. It is commonly used to represent structured data such as student records or employee details.

Example Code:

students = {
    "Ashutosh Jayant": {"math": 90, "science": 88},
    "Ravi": {"math": 85, "science": 80}
}
print(students["Ashutosh Jayant"]["math"])

Q17. Describe the time complexity of accessing elements in a dictionary.

Explanation:
On average, dictionary access takes O(1) time due to hashing. This means the value can be retrieved almost instantly, regardless of dictionary size.

Example Code:

data = {"x": 100, "y": 200}
print(data["x"])

Q18. In what situations are lists preferred over dictionaries?

Explanation:
Lists are preferred when the order of elements matters, when data is accessed using numeric indexes, or when storing a simple sequence without key–value relationships.

Example Code:

items = ["apple", "banana", "cherry"]
print(items[1])

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Explanation:
Dictionaries are conceptually unordered because elements are accessed by keys rather than positions. Retrieval depends on the key, not the insertion order.

Example Code:

info = {"name": "Ashutosh Jayant", "age": 22}
print(info["age"])

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

Explanation:
Lists retrieve elements using numeric indexes.
Dictionaries retrieve values using keys.
Dictionary lookup is generally faster for large datasets.

Example Code:

lst = ["red", "green", "blue"]
print(lst[1])

d = {"red": "#ff0000", "green": "#00ff00"}
print(d["green"])

In [4]:
##Q21. Create a string with your name and print it.

name = "Ashutosh Jayant"
print(name)

Ashutosh Jayant

In [5]:
##Q22. Find the length of the string "Hello World".
text = "Hello World"
print(len(text))

11

In [6]:
##Q23. Slice the first 3 characters from the string "Python Programming".
s = "Python Programming"
print(s[:3])

Pyt

In [7]:
##Q24. Convert the string "hello" to uppercase.
print("hello".upper())

HELLO

In [8]:
##Q25. Replace the word "apple" with "orange" in the string "I like apple".
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [9]:
##Q26. Create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [10]:
##Q27. Append the number 10 to the list [1, 2, 3, 4].
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [11]:
##Q28. Remove the number 3 from the list [1, 2, 3, 4, 5].
lst2 = [1, 2, 3, 4, 5]
lst2.remove(3)
print(lst2)

[1, 2, 4, 5]

In [12]:
##Q29. Access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [13]:
##Q30. Reverse the list [10, 20, 30, 40, 50].
rev_list = [10, 20, 30, 40, 50]
rev_list.reverse()
print(rev_list)

[50, 40, 30, 20, 10]

In [14]:
##Q31. Create a tuple with the elements 100, 200, 300 and print it.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [15]:
##Q32. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [16]:
##Q33. Find the minimum number in the tuple (10, 20, 5, 15).
nums = (10, 20, 5, 15)
print(min(nums))

5

In [17]:
##Q34. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [18]:
##Q35. Create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

In [19]:
##Q36. Create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'a', 'c', 'b'}

In [20]:
##Q37. Clear all elements from the set {1, 2, 3, 4, 5}.
s2 = {1, 2, 3, 4, 5}
s2.clear()
print(s2)

set()

In [21]:
##Q38. Remove the element 4 from the set {1, 2, 3, 4}.
s3 = {1, 2, 3, 4}
s3.remove(4)
print(s3)

{1, 2, 3}

In [22]:
##Q39. Find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [23]:
##Q40. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set3 = {1, 2, 3}
set4 = {2, 3, 4}
print(set3.intersection(set4))

{2, 3}

In [24]:
##Q41. Create a dictionary with keys "name", "age", and "city", and print it.
d = {"name": "Ashutosh Jayant", "age": 22, "city": "Delhi"}
print(d)

{'name': 'Ashutosh Jayant', 'age': 22, 'city': 'Delhi'}

In [25]:
##Q42. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d2 = {"name": "John", "age": 25}
d2["country"] = "USA"
print(d2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [26]:
##Q43. Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d3 = {"name": "Alice", "age": 30}
print(d3["name"])

Alice

In [27]:
##Q44. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d4 = {"name": "Bob", "age": 22, "city": "New York"}
d4.pop("age")
print(d4)

{'name': 'Bob', 'city': 'New York'}

In [28]:
##Q45. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d5 = {"name": "Alice", "city": "Paris"}
print("city" in d5)

True

In [29]:
##Q46. Create a list, a tuple, and a dictionary, and print them all.
lst = [1, 2, 3]
tup = (4, 5, 6)
dic = {"a": 10}
print(lst, tup, dic)

[1, 2, 3] (4, 5, 6) {'a': 10}

In [30]:
##Q47. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random

nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[39, 43, 54, 84, 86]

In [31]:
##Q48. Create a list with strings and print the element at the third index.
words = ["apple", "banana", "cherry", "date"]
print(words[3])

date

In [32]:
##✅ Q49. Combine two dictionaries into one and print the result.
d6 = {"x": 1}
d7 = {"y": 2}

d6.update(d7)
print(d6)

{'x': 1, 'y': 2}

In [33]:
##Q50. Convert a list of strings into a set.
lst_words = ["a", "b", "a", "c"]
print(set(lst_words))

{'a', 'c', 'b'}